@model Moview.Models.CreateMovieDetails

@{
    ViewBag.Title = "New Movie";
}

<h2>New Movie</h2>

@using (Html.BeginForm("create", "Movie", FormMethod.Post, new { @class = "formclass" }))
{
    <div>
        @Html.LabelFor(m => m.Title)
    </div>    
    <div>
        @Html.TextBoxFor(m => m.Title) @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Director)
    </div>    
    <div>
        @Html.TextBoxFor(m => m.Director)
    </div>
    <input type="submit" value="Click me!" />
}


