@model ToDo.Models.NewTodo
<ul>
    <li>@Html.LabelFor(m => m.Title) @Html.TextBoxFor(m => m.Title) @Html.ValidationMessageFor(m=>m.Title)</li>
    <li>@Html.LabelFor(m => m.Entry) @Html.TextBoxFor(m => m.Entry) @Html.ValidationMessageFor(m=>m.Entry)</li>
</ul>
